body{
  color: #555;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 1.8em;
}
section{
  padding: 24px 12vw;
}
section h2{
  background-image: repeating-linear-gradient(45deg,transparent,transparent 4px,#f7fad2 4px,#f7fad2 10px);
  border-bottom: 4px dashed #46d0d3;
  border-top: 4px dashed #46d0d3;
  box-sizing: border-box;
  line-height: 1.8em;
  text-align: center;
}

a{
  color: #f96e90;
  text-decoration: none;
  border-bottom: 3px dotted #f96e90;
  font-weight: bold;
}

.button{
  background-color: #46d0d3;
  border: solid 4px #46d0d3;
  border-radius: 8px;
  padding: 12px 30px;
  display: block;
  color: #fff;
  text-align: center;
  margin: 50px auto;
  min-width: 240px;
  transition: all .3s ease 0s;
  width: 30%;
}
.button:hover{
  background-color: #fff;
  color: #46d0d3;
}
.topimg{
  margin: 12vw;
}

.navigation{
  box-shadow:0px 3px 14px 0px rgba(133, 133, 133, 0.28);
  border-radius: 50px;
  padding: 20px 36px;
  margin: 12px 12vw;
}
.navigation ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation li{
  display: inline-block;
  padding-right: 12px;
}
.navigation a{
  border: none;
  color: #555;
}
.navigation a:hover{
  color: #f96e90;
}

@media screen and (max-width:800px) {
  section{
    padding: 24px 2vw;
  }
  .navigation{
    display: none;
  }
}
